@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cal-Sans';
  src: url('/fonts/calsans.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat.ttf') format('truetype');
}

* {
  ::-webkit-scrollbar {
    display: none;
  }
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animation delays for features */
.delay-100 {
  transition-delay: 100ms;
}
.delay-200 {
  transition-delay: 200ms;
}
.delay-300 {
  transition-delay: 300ms;
}
.delay-400 {
  transition-delay: 400ms;
}
.delay-500 {
  transition-delay: 500ms;
}
.delay-600 {
  transition-delay: 600ms;
}